<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laptops</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div>
		<div class="row">
			<h1>Laptops</h1>
		</div>
		<div class="row">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Model</th>
					<th>Price</th>
					<th>Color</th>
				</tr>


				<tr th:each="l : ${lll}" >
					<td th:text="${l.id}"></td>
					<td th:text="${l.model}"></td>
					<td th:text="${l.price}"></td>
					<td th:text="${l.color}"></td>
				</tr>

			</table>
		</div>

	<div>
		<form action="#"  th:action="@{/laptops/__${id}__}" method="GET">
			<p><label class="labels">Search by ID:</label><input type="text" th:value="__${id}__"/></p>
			<p><input type="submit" value="Find" /></p>
		</form>
	</div>

	<div>
		<a href="/laptops/new.html">Add new laptop</a>
	</div>
</div>
</body>
</html>
